#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TARGET_VERSION := $(shell dpkg-parsechangelog | awk '/Version/ { print $$2}')
TARGET_DISTRIBUTION := $(shell dpkg-parsechangelog | awk '/Distribution/ { print $$2}')
ifeq ($(TARGET_DISTRIBUTION),UNRELEASED)
	TARGET_DISTRIBUTION := $(shell lsb_release -cs)
endif

%:
	 dh $@
